<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/administracion"></ion-back-button>
    </ion-buttons>
    <ion-title>Stock de Productos</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



    <ion-list>

      <app-tarjeta-stock *ngFor="let sto of stock" [tarjetaStock]= sto>

      </app-tarjeta-stock>

    </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['nueva']" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
