<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/administracion"></ion-back-button>
    </ion-buttons>
    <ion-title>Compras</ion-title>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus" placeholder="Buscar Tienda"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
